.sell-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Segoe UI', Arial, sans-serif;

}

.sell-container {
    width: 84%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.sell-section-card {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 60px auto;
    /* padding: 60px 0px; */

    gap: 48px;
}

.sell-section-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sell-section-img img {
    max-width: 100%;
    /* height: auto;
     */
    height: 300px;

    object-fit: cover;
    display: block;
    border-radius: 18px;
    box-shadow: 0 6px 36px 0 rgba(56, 25, 82, 0.09);
    background: transparent;
}

.sell-section-content {
    /* flex: 2 1 400px; */
    width: 50%;
    /* color: #fff; */
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.sell-section-content h1 {
    font-size: 2em;
    margin: 0 0 12px 0;
    line-height: 1.1;
    font-weight: 700;
}

.sell-section-content h1 .fa-server {
    color: #53a4fa;
    margin-right: 18px;
    font-size: 0.8em;
    vertical-align: middle;
}

.sell-section-content p {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 0 18px 0;
}

.sell-section-card .learn-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(137, 34, 96);
    color: #fff;
    width: 150px;
    padding: 14px 32px;
    border-radius: 40px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
}

.learn-btn i {
    margin-left: 18px;
    font-size: 1.1em;
    transition: transform 0.2s;
}

.learn-btn:hover {
    background: #e4e4fa;
    color: #1a1c45;
    box-shadow: 0 4px 24px 0 rgba(56, 25, 82, 0.16);
}

.learn-btn:hover i {
    transform: translateX(6px);
}

@media (max-width: 900px) {
    .sell-section-card {
        flex-direction: column;
        padding: 32px 10px;
        gap: 32px;
    }

    .sell-section-img img {
        width: 220px;
    }

    .sell-section-content h1 {
        font-size: 2em;
    }

    .sell-section-content p {
        font-size: 1.1em;
    }

    .learn-btn {
        font-size: 1em;
        padding: 12px 28px;
    }

    .container {
        width: 98%;
    }
}